<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://harbour.space/interaction-design/courses/programming-interactivity-ii-ricardo-mendieta" target="_blank">
        <h1>Programming Interactivity</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Class 1" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="class-1/emoji">Emoji</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Class 2" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/class-2/translate">Translate</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/class-2/translate-2">Translate 2</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/class-2/cursor">Cursor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/class-2/print-10">Print 10</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/class-2/my-print">My Print</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Class 3" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="class-3/look">Look</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Practice" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/practice/2d-breakout">2D breakout</a>
          </li>

        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <span class="app-header__github">
           <a href="https://github.com/iamcucusa/programming-interactivity" target="_blank">
          <i nz-icon nzType="github" nzTheme="outline"></i>
        </a>
        </span>


      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
